@model do_an_web.Models.customer_order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>customer_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_buy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_buy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deli_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deli_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.name_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.name_customer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_order }) |
    @Html.ActionLink("Back to List", "Index")
</p>
