@model IEnumerable<do_an_web.Models.customer_order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantity_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cart.images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.name_customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantity_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cart.images)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.name_customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_order }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_order }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_order })
        </td>
    </tr>
}

</table>
