@model do_an_web.Models.partner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_partners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_partners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_partners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_partners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_partners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_partners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.require_partners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.require_partners)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_partners }) |
    @Html.ActionLink("Back to List", "Index")
</p>
