@model do_an_web.Models.warehouse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_warehouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_warehouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.located)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.located)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_warehouse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
