@model IEnumerable<do_an_web.Models.partner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_partners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_partners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_partners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.require_partners)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_partners)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_partners)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_partners)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.require_partners)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_partners }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_partners }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_partners })
        </td>
    </tr>
}

</table>
