@using do_an_web.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Images/discount_1.png" style="height:500px; width:700px;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/discount_2.png" style="height:500px; width:700px;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/discount_3.jpg" style="height:500px; width:700px;" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<nav class="tab2">

    <div class="tab2-title">
        <ul class="tab2-details">
            <li class="home">
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="list">
                <p style="font-family: monospace; font-weight:700; font-size:25px;">Clothings</p>
                <div class="dropdown">
                    @Html.Action("takecategory", "Home")
                </div>
            </li>
            <li>
                <a href="@Url.Action("Contact_View","Home")">Contact</a>
            </li>
            <li class="clearance">
                <a href="">Clearance_Sale</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="tab3">
    <h2></h2>
</nav>
<div class="row">
    @foreach (var clothes in Model)
    {
        if (clothes.id_category == 1)
        {
            <div class="card col-sm-4 col-md-4 col-lg-4 d-flex align-items-stretch cart-section">

                <a href="@Url.Action("Details", "Home", new { id = clothes.id_products })">
                    <img class="card-img-top book-picture h-100 w-50"
                         src="~/Content/Images/@clothes.images" alt="Card image" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">@clothes.name</h4>
                    <p class="card-text">@clothes.price</p>
                </div>
            </div>
        }
    }
</div>


