@model IEnumerable<do_an_web.Models.report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject_customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contents_customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.name_customer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject_customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contents_customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.name_customer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_reports }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_reports }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_reports })
        </td>
    </tr>
}

</table>
