@*@model  IEnumerable<do_an_web.Models.product>*@
@model PagedList.IPagedList<do_an_web.Models.product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="vh-a bg-image"
         style="background-image: url('https://previews.123rf.com/images/skunkeye/skunkeye1512/skunkeye151200169/49352963-ganja-weed-marijuana-seamless-vector-pattern-background.jpg'); font-family:'Times New Roman', Times, serif;">
    <div class="mask d-flex align-items-center h-auto gradient-custom-3">
        <div class="container h-auto">
            <div class="row d-flex justify-content-center align-items-center h-auto">
                <div class="col-auto col-md-auto col-lg-auto col-xl-auto">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-md-5">
                            <h2>Index</h2>

                            <p>
                                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        Tên Sản Phẩm
                                    </th>
                                    <th>
                                        Giá
                                    </th>
                                    <th>
                                        Miêu Tả
                                    </th>
                                    <th>
                                        Hình Sản Phẩm
                                    </th>
                                    <th>
                                        Hình Size
                                    </th>
                                    <th>
                                        Tên Hãng
                                    </th>
                                    <th>
                                        Tên Loại
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name_product)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.price)
                                        </td>

                                        <td>
                                            @Html.Raw(item.descibe)
                                        </td>
                                        <td>
                                            <img src="~/Content/Images/@item.images" height="150" width="150" />
                                        </td>
                                        <td>
                                            <img src="~/Content/Images/@item.images_size" height="150" width="150" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.brand.name_brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.category.name_category)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.id_products }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.id_products }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.id_products })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />    
    <br />
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            @using (Html.BeginForm("Index", "products", FormMethod.Get))
            {
                <p>
                    Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                </p>
            }
        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
            Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize}))
            </div>
        </div>        
    </div>
</section>



