@model do_an_web.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_customer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_customer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
