@model do_an_web.Models.constract

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>constract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price_constracts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_constracts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partner.name_partners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partner.name_partners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_constracts }) |
    @Html.ActionLink("Back to List", "Index")
</p>
