@model IEnumerable<do_an_web.Models.constract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.price_constracts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partner.name_partners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.price_constracts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partner.name_partners)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_constracts }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_constracts }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_constracts })
        </td>
    </tr>
}

</table>
